main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 2px solid black;
    min-height: 100vh;
    width: 100vw;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.largeColumn {
    width: 30vw;
}

.smallColumn {
    width: 30vw;
}

.defeated {
    width: 90vw;
    min-height: 10vh;
    background-color: bisque;
    border-radius: 20px;
}

.gameplay {
    min-height: 60vh;
}

.health {
    min-height: 20vh;
    width: 90vw;
}

.container {
    width: 90vw;
}

.user {
    background-color: lightgreen;
    border-radius: 20px;
}

.cpu {
    background-color: lightcoral;
    border-radius: 20px;
}

.input {
    background-color: lightcyan;
    border-radius: 20px;
}

.flex-space {
    justify-content: space-around;
}

.nav {
    height: 15vh;
}

select {
    max-width: 70%;
}

img {
    max-height: 40vh;
}

.flex-start {
    align-content: flex-start;
}

.opponentCard {
    flex-direction: row;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
    width: 20vw;
    margin: 15px;
}

p {
    margin: 8px;
    padding: 0px;
}

.smallImg {
    max-height: 10vh;
    max-width: 10vw;
    justify-content: center;
}

.activeOpponent {
    background-color: lightgoldenrodyellow;
    border: 4px solid goldenrod;
}

.hidden {
    display: none;
}